*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat-Black";
}
.contact-section{
  background: url(slider2.jpg) no-repeat center;
  background-size: cover;
  padding: 40px 0;
}
.contact-section h1{
  text-align: center;
  color: #fff;
  font-size: 40px;
}
.border{
  width: 200px;
  height: 10px;
  background: #00060c;
  margin: 40px auto;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
  font-family: "Montserrat-Black";
}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #ffffff;
}
textarea.contact-form-text{
  resize: none;
  height: 120px;
}
.contact-form-btn{
  border: 0;
  margin-left: 40%;
  background: #34495e;
  color: #fff;
  padding: 12px 40px;
  border-radius: 20px;
  cursor: pointer;
  font-size: x-large;
  transition: 0.5s;
}
.contact-form-btn:hover{
  background: #2980b9;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;

}

